[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std.git
[submodule "lib/sc-exploits-minimized"]
	path = lib/sc-exploits-minimized
	url = https://github.com/Cyfrin/sc-exploits-minimized
